@model DucPhamStore.Models.Loai

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Sửa Loại: @Model.MaLoai</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.MaLoai)

        <div class="form-group">
            <label class="control-label col-md-2">Tên Loại</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenLoai, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Active</label>
            <div class="col-md-10">
                <div class="checkbox">
                    <input class="check-box" id="Active" name="Active" type="checkbox" value="true" @{Output.Write(Model.Active?"checked":"");} />

</div>

</div>

</div>


<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-sm btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở về", "Index",null,htmlAttributes: new { @class = "btn btn-sm btn-info" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
